<div class="input-group">
	<div class="col-md-6" id="system_form">
		<%= f.error_notification %>
		<p><h4>Название</h4><p>
		<p><%= f.input :name, label: false %></p>
		<p><h4>Тэг</h4><p>
		<p><%= f.input :tag, label: false%></p>
		<p><h4>Описание</h4><p>
		<p><%= f.input :description, as: :text, label: false %></p>
		<p><h4>Тип</h4><p>
		<p><%= f.input :system_type, collection:  ["Тип 1","Тип 2"], prompt: @system.system_type,  label: false%></p>
		<p><%= f.button :submit, 'Редактировать', html: { class: 'btn btn-default' } %>  </p>
	</div>
</div>